/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #686666;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o carrinho de compras */
.cart {
    background-color: #000000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    color: antiquewhite;
    text-align: center;
}

h1 {
    text-align: center;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e70087;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 100px;
    margin-right: 10px;
    border: 1px solid #1100f8;
    border-radius: 3px;
}

.item-details {
    flex-grow: 1;
}

.remove-button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #cc0000;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

/* Estilos para a lista de produtos */
.products {
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 20px;
    color: antiquewhite;
}

h2 {
    text-align: center;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #009900;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #007700;
}
