@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&display=swap');

@keyframes toRight {
    100% {
        width: 0%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "brac prin prin"
    "roda roda roda";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 0.5s;
}

header{
    grid-area: cabe;
    width: 100%; 
    background-color: #20232F;
    transition: all 0.3s;
    transform-origin: 50% 50%;
    text-align: center;
    height: 100px;
    border: 2px #00ffff solid;
}
aside{
    grid-area: brac;
    background-color: #20232F;
    width: 100%;
    border: 2px #00ffff solid;
}
main{
    grid-area: prin;
    background-color: #20232F;
}
footer{
    grid-area: roda;
    background-color: #20232F;
    border: 2px #00ffff solid;
    
}
section{
    grid-area: secn;
    background-color: aquamarine;
    display: none;
    border: 2px #00ffff solid;
}

@media only screen and (max-width: 820px) {
    body{
        grid-template-areas: 
        "cabe"
        "brac"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }   
    header img{
        display: none;
    } 
}
@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "secn"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }
    section{
        display: flex;
    }
    aside{
        display: none;
    }
    header{
        display: none;
    }
    
}
.elemento_pai{
    border: 2px #00ffff solid;
   display: flex;
    justify-content: center;
    width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 3px 6px 9px #00f7ff;
    transition: 0.5s;
}
.texto a{
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.card:hover{
    background-color: black;
    color: white;
}
.card:hover a{
    color: #fdfdfd;
}
.card:hover img{
    filter: invert(1);
}

.texto a:hover{
    background-color: #00f7ff;
}

.day {
    background-color: #fff;
    color: #222;
}

.container header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: right;
}

header .logo {
    position: relative;
    text-decoration: none;
}

header .logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #20232F;
    animation: toRight 1s linear forwards;
}

header .logo h3 {
    background: linear-gradient(140deg, #05fb53, #bc05c9, #e1e107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 25px;
    font-weight: 550;
}

header .lista {
    display: flex;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

header .lista .tab {
    font-size: 13px;
    font-size: 15px;
    position: center;
    color: #fff;
    list-style: none;
    margin: 0 20px;
    transition: all 0.3s;
    cursor: pointer;
    
}

header .lista .tab:hover {
    color: #bc2020;
    
}

header .lista .tab::before {
    content: "";
    position: center;
    left: 50%;
    width: 0%;
    height: 1.5px;
    background-color: rgb(19, 228, 54);
    bottom: -8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all 0.3s;
    
}

header .logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #20232F;
    animation: toRight 1s linear forwards;
}


header .lista.tab:hover::before,
header .lista .tab:hover::after {
    width: 50%;
}

header .lista .tab::after {
    content: "";
    position: center;
    right: 50%;
    width: 0%;
    height: 1.5px;
    background-color: rgb(19, 228, 54);
    bottom: -8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: all 0.45s;
    
}


